* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* select packages square*/
.sectionHeader {
  background-color: #f4f4f4;
  padding-top: 22px;
  padding-bottom: 16px;
  padding-left: 4%;
}
.priceDelete {
  color: #4a4a4a;
  display: inline-block;
  text-decoration: line-through;
  margin-left: 24px;
}
/* select radio packages */
#packageForm{
  margin:0;
  width:100%;
}
.packageRadio{
  right: 4%;

}
.packageRadioLabel{
  /* top:-4%;
  left:4%; */
  position: absolute;
  width:80%;
  left:0;
  bottom: 15px;
}
.packageRadioLabelHead{
  font-size: 17px;
}
.packageRadioLabelHeadBody{
  margin-top: 6px;
}

.extraDiscount{
  background-color: #ff840030;
  padding-top: 2px;
  padding-left: 10px;
}

/* select quantity */
.quantityInitialPrice{
  display:inline-block;
  color:#000;
  margin-right: 8px;
}
.midDelete {
  text-decoration: line-through;
}
.sumbmitStyle {
  display: inline-block;
  border: 1px solid black;
  width: 26px;
  border-right:none;
  height:26px;
  font-size:18px;
  font-weight: bold;
}
.addStyle{
  display: inline-block;
  border: 1px solid black;
  width: 26px;
  height:26px;
  font-size:18px;
  font-weight: bold;
}
.quantityNo {
  display: inline-block;
  margin-right: 14.8%;
  font-weight:bold;
  font-size:20px;
  vertical-align: middle;
}
#quantityRight {
  position: relative;
}
.quantityjiajian{
  display: inline-block;
  position:absolute;
  right:10%;
}

/* users details */
#userDetails {
  background-color: #f4f4f4;
}
/* select package squire initial classname */
.MuiInput-underline-152:before{
  border:none !important;
}
/* select package radio initial classname */
.MuiInput-underline-181:before{
  border:none !important;
}

/* promotion list */

/* confirmation */
.confirmName{
  padding-left: 4%;
  color: #4a4a4a;
}
.confirmationMail{
  padding-left: 4%;
  color: #4a4a4a;
  padding-top:10px;
}
.confirmationQuestion1{
  padding-left: 8%;
  color: #4a4a4a;
  padding-top:10px;
}
.confirmationQuestion2{
  padding-left: 8%;
  color: #4a4a4a;
  padding-top:10px;
}
.confirmationPackage{
  padding-left: 4%;
}
.confirmationPackageList{
  padding-left: 4%;
  padding-top:10px;
  font-size: 14px;
  overflow: hidden;
}
.confirmationPackageListRight{
  float: right;
  padding-right: 4%;
  white-space: nowrap;
}

/* confirmation total */
.confirmationTotalHeadertop{
  max-width: 100%;
  position:relative;
}
.confirmationTotalHeader{
  padding-left: 4%;
  padding-top:12px;
}
.confirmationTotalHeaderRight{
  float: right;
  color: #ff8400;
  right:4%;
  position:absolute;
}

/* payment method */
#paymentContral {
  width: 100%;
  margin: 0px;
}
#paymentLabel {
  width: 100%;
  padding-top: 22px;
  padding-left: 4%;
  padding-bottom: 16px;
  background-color: #f4f4f4;
  color:black;
}
.paymentLabel {
  position: absolute;
  left: 4%;
  bottom:10px;
}
.paymentBill {
  display: inline-block;
  background-image: url(./images/bill_to_room_dark.png);
  background-size: 100% 100%;
  width:40px;
  height:24px;
  vertical-align: middle;
  margin-right: 8px;
}
.paymentCredit{
  display: inline-block;
  background-image: url(./images/credit_card_amex_mastercard_visa.png);
  background-size: 100% 100%;
  width:128px;
  height:24px;
  vertical-align: middle;
  margin-right: 8px;
}
.paymentWechat{
  display: inline-block;
  background-image: url(./images/we_chat_pay_logo.png);
  background-size: 100% 100%;
  width:40px;
  height:24px;
  vertical-align: middle;
  margin-right: 8px;
}
.paymentUnion{
  display: inline-block;
  background-image: url(./images/union_pay_dark.png);
  background-size: 100% 100%;
  width:40px;
  height:24px;
  vertical-align: middle;
  margin-right: 8px;
}

/* bottom button */
#bottomButton{
  background-color: #ff8400;
  width: 100%;
}

/* datepicker css */
#datepicker {
  border: 1px solid transparent;
  width: 100%;
}
.overflow {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  height:106px;
}
.calendar {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  height:100px;
}
.list {
  list-style: none;
  width: 915px;
  overflow: hidden;
  height:100%;
}
#item {
  float: left;
  text-align: center;
  width: 61px;
  height:100%;
}
#item>p {
  padding: 5px;
}
#item>p:first-child{
  font-size: 17px;
  color:#e6e6e6;
}
#item>p:last-child{
  font-size: 24px;
  font-weight: bold;
  color:#000f23;
}

.current{
  background-color: #ff8400;
  border-radius: 50%;
}
.datePickerHead{
  text-align: center;
}
